.container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.message {
  margin-top: 0;
  font-weight: 400;
}

.button {
  padding: 0.8rem 1.3rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray950);
  background-color: var(--primary);
}

.button:hover {
  filter: brightness(1.1);
}
