.participant {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 7rem;
  color: white;
}

.count_icon {
  display: flex;
  gap: 0.7rem;
  height: 2.5rem;
  margin-bottom: 0.7rem;
}

.count_box {
  display: flex;
  justify-content: space-between;
}

.text {
  flex: 1 1 70%;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
}

.button {
  flex: 1 1 30%;
  text-align: center;
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: 700;
  text-decoration-line: none;
  border-radius: 4px;
  color: var(--gray950);
  background-color: var(--primary);
}
