.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2.5rem;
  background-color: var(--gray950);
}

.logo,
.pages,
.nav {
  flex: 1;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration-line: none;
  color: var(--gray300);
}

.pages {
  text-align: center;
}

.page {
  margin: 0 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration-line: none;
  color: var(--gray600);
}

.page.clicked {
  color: white;
}

.page:hover {
  color: white;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.button {
  padding: 0.7rem 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration-line: none;
  border-radius: 4px;
  color: var(--gray950);
  background-color: var(--primary);
}
