.user_info {
  position: relative;
}

.profile {
  display: flex;
  align-items: center;
}

.nickname {
  margin-left: 0.5rem;
  font-size: 0.85rem;
}

.info_buttons {
  position: absolute;
  width: 8rem;
  margin-top: 0.6rem;
  background-color: var(--gray900);
}

.button {
  width: 100%;
  padding: 0.8rem 0;
  font-size: 0.8rem;
}

.button:hover {
  background-color: rgba(52, 58, 64, 0.5);
}

.logout {
  border-top: 1px var(--gray700) solid;
}
