.profile {
  display: flex;
  align-items: center;
}

.nickname {
  margin-left: 0.5em;
  font-size: 0.8rem;
}

.info_buttons {
  display: flex;
  flex-direction: column;
  background-color: var(--gray900);
  padding: 0.8em 1.5em;
  position: absolute;
  margin-top: 0.6em;
}

.info_buttons li {
  text-align: center;
}

.button {
  padding: 0.7em;
  font-size: 0.8em;
}
