.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.button {
  padding: 0.8rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray950);
  background-color: var(--primary);
}

.button:hover {
  filter: brightness(1.1);
}
